<div class='row-fluid'>
	<div class='span2'>
	</div>
	<div class='span8'>
		<h1>Start Using H1BWIKI Jobs</h1>
		<h2>Already a H1BWIKI member? <%= link_to 'Log In', signin_path %> now. </h2>
		<h3>Lets get started! </h3>
		<div class='box'>
		<div class='span4'>
			<div class='common_signup_box'>
				<div class='job_left'>
					<div class='imge'>
						<img src="/assets/rails.png" alt="" class="slide" />
					</div>
					<div class='job_description'>
						<p>Are you a job seeker?</p>
						<%= link_to 'Login', signup_path %>
					</div>
				</div>
			</div>
		</div>
		<div class='span4'>
			<div class='common_signup_box'>
				<div class='job_right'>
					<div class='imge'>
						<img src="/assets/rails.png" alt="" class="slide" />
					</div>
					<div class='job_description'>
						<p>Are you an employer?</p>
						<%= link_to 'Login', signup_employer_path %>
					</div>
				</div>
			</div>
		</div>
	</div></div>
	<div class='span2'>
	</div>
</div>